<h1>Choose a Stylist and add a client</h1>

  <form action="/clients" method="post">
    <label for="stylist_id">Select a stylist</label>
    <select id='stylist_id' name='stylist_id' type='text'>
      <% @stylists.each() do |stylist| %>
        <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
      <% end %>
    </select>

    <label for="description">Client's Description:</label>
    <input id="description" name="description" type="text" placeholder="Enter name">

    <button type="submit">Add client</button>
  </form>

  <hr>

<a href="/"><button class="button btn">Return Home</button></a>
