

<h1 class= "flex"> Ivy Hair salon</h1>

<hr>

  	<div class="container">
    <a class="push" href="/add"><button class="button btn">Add a client to existing stylist</button></a>
    </div>

    <div clas="container">
    <a class="push" href="/stylists"><button class="button btn">View All stylists</button></a>
    </div>

    <div class="container">
    <a class ="push" href="/stylists/new"><button class="button btn">Add New stylist</button></a>
  	</div>


