@import url('https://fonts.googleapis.com/css?family=Aclonica|Frijole');


h1{
  font-family: 'Frijole', cursive;
}
body{
  font-family: 'Aclonica', cursive;
  text-align: center;
  background-image: url('https://images.pexels.com/photos/9634/pink-hair-selfie-bun.jpg?w=940&h=650&auto=compress&cs=tinysrgb');
  background-repeat: no-repeat;
  background-size: cover;

}

